  <section class="about seperator" id="about-us">
    <h1 class="title title--margin-top">אודות המדור</h1>
    <p class="about__content">מדור טי"ל .... מדור טי"ל .... מדור טי"ל .... מדור טי"ל .... מדור טי"ל .... מדור טי"ל ....</p>

    <div class="about__sections">
      <a class="about__section about__section--lemida link" href="/lemida">
        <p class="about__caption-text">
          תחום למידה מתוקשבת
        </p>
      </a>
      <a class="about__section about__section--video link" href="/video">
        <p class="about__caption-text">
          תחום וידאו
        </p>
      </a>
      <a class="about__section about__section--amhad link" href="/amhad">
        <p class="about__caption-text">
          תחום אמצעי הדרכה
        </p>
      </a>
    </div>
  </section>