<section class="contact" id="contact-us">
  <h1 class="title title--margin-top">צרו קשר</h1>
  <div class="contact__icons">
    <figure class="contact__icon">
      <a href="tel:+972733772442" class="link">
        <img src="/dist/img/phone.svg" class="icon__contact" alt="אייקון טלפון">

        <figcaption class="contact__caption-text">
          משרדי טי”ל
          <br>/073-377-2442
          <br>2424/
          <br>2425
        </figcaption>
      </a>
    </figure>

    <figure class="contact__icon">
      <a href="mailto:mador.till@gmail.com" class="link">
        <img src="/dist/img/email.svg" class="icon__contact" alt="אייקון אימייל">

        <figcaption class="contact__caption-text">
          mador.till@gmail.com
        </figcaption>
      </a>
    </figure>

    <figure class="contact__icon">
      <a href="https://www.youtube.com/channel/UCz1FCNMSJYGKJ46ib8B904A" class="link">
        <img src="/dist/img/youtube.svg" class="icon__contact" alt="אייקון יוטיוב">

        <figcaption class="contact__caption-text">
          Youtube
        </figcaption>
      </a>
    </figure>
  </div>
</section>