<section class="header__icon-row">
  <!-- Logo -->
  <img src="/dist/img/logo.svg" class="icon icon--top-margin" alt='לוגו מדור טי"ל'>

  <!-- Nagivation menu-->
  <nav class="header__menu">
    <!-- Hamburger icon -->
    <img src="/dist/img/hamburger.svg" class="icon icon__hamburger icon--top-margin icon--clickable" alt='פתח תפריט ניווט' id="js-hamburger">

    <ul class="navigation" id="js-nav-menu">
      <!-- Navigation items -->
      <li>
        <a href="/#top" class="link link--nav">דף הבית</a>
      </li>
      <li>
        <a href="/#about-us" class="link link--nav">אודות המדור</a>
      </li>
      <li>תחומים
        <ul class="navigation__submenu">
          <li>
            <a href="/lemida" class="link link--nav">תחום למידה מתוקשבת</a>
          </li>
          <li>
            <a href="/video" class="link link--nav">תחום וידאו</a>
          </li>
          <li>
            <a href="/amhad" class="link link--nav">תחום אמה"ד</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/#contact-us" class="link link--nav">צרו קשר</a>
      </li>
    </ul>
  </nav>
</section>